.swiper{
	width: 375px;
	height: 188px;
	background-image: url(../img/img1.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	margin-top: 74px;
}
.iconlist{
	width: 375px;
	height: 160px;
	display: flex;
	flex-wrap: wrap;
}
.iconItem{
	width: 20%;
	height: 80px;
}
.iconItem>img{
	width: 100%;
	height: 100%;
}
.banner{
	width: 375px;
	height: 265px;
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
}
.banner .lbanner,.banner .rbanner{
	width: 186px;
	height: 265px;
}
.banner .lbanner{
	background-image: url(../img/img2.webp);
	background-size: 100% 100%;
}
.banner .rbanner{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner .rbanner .rtbanner{
	width: 186px;
	height: 131px;
	background-image: url(../img/img3.webp);
	background-size: 100% 100%;
}
.banner .rbanner .rbbanner{
	width: 186px;
	height: 131px;
	background-image: url(../img/img4.webp);
	background-size: 100% 100%;
}
